/*
# Copyright 2010-2011 Benjamin Lee Smith <benjamin.lee.smith@gmail.com>
#
# This file is part of rockclimbingshirts.com.
# rockclimbingshirts.com is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# rockclimbingshirts.com is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with rockclimbingshirts.com.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
	background-image: url(/images/fabric_bg.png);
}

div#header {
   border-bottom: 2px solid #96602D;
   border-left: 2px solid #96602D;
   border-right: 2px solid #96602D;	
}

div#content {
	background-color: #4D5453;
	border: 2px solid #96602D;
}

div#content div#cart {
	background-color: #96602D;
}

div#content div#cart a:hover {
	background-color: #96602D;	
}

div#footer div.menu a {
	color: #f0f0f0;
}

#products a:hover {
	border: 2px solid #DBAE5E;
}
